[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "thirdparty/cppitertools"]
	path = thirdparty/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
